body {
    background-color:lightseagreen;
    font-family: 'Alfa Slab One', cursive;
}

img {
    width: 35%;
    border: 4px solid white;
    border-radius: 20%;
}

#button-container{
    padding: 1%;
}

.pet-container{
    border: 4px double goldenrod;
    width:50%; 
    margin:0 auto; 
    text-align:center
}

