body {
    background-color:lightseagreen;
    font-family: 'Alfa Slab One', cursive;
}

img {
    width: 35%;
    border: 4px solid white;
    border-radius: 20%;
}


#pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#button-container{
    padding: 1%;
}

.pet-container{
    border: 4px double goldenrod;
    margin: 1%;
    padding: 1%;
    width: 400px;
}

.pet-image{
    width: 90%;
    border: 4px solid white;
    border-radius: 20%;
}

.pet-type {
    border-top: 2px solid gray;
}

.dog {
    background-color: #428bca;
    
}

.cat {
    background-color: goldenrod;

}

.dino {
    background-color: #5cb85c;

}




